.music-page{
  max-width: 640px;
  padding: 15px;

  .search-box{
    margin-top: 15px;
  }

  .music-item{
    margin-top: 15px;
    .music-title{
      font-size: 14px;
    }
    .music-info{
      font-size: 12px;
    }
  }

  .picture{
    width: 100px;
    height: 100px;
    overflow: hidden;
    background: #666;
  }

  .msg{
    margin-top: 10px;
    font-size: 12px;
  }
}