extends layout

block content
  section.container
   header

   section#content(style="position:relative;")
    img.flower(src="/images/picture/article/flower.png", style="position:absolute;left:-70px;bottom:0;opacity:0.9;", width="300", height="272")
    div.row
     div.col-xs-5
      h1.logo
       img(src="/images/icon/logo.png", width="215", height="30")
      p Welcome to #{title}
      p @powered by&nbsp;
       a(href="work/f2e",style="color:#a6d518") 宏图志远|潘宏飞
     div.col-xs-7
      article.love-you.pull-left
       h3.title(style="margin-top:0;") 想和你在桥上吹吹风
       p.show
         div 想和你在桥上吹吹风
         br
         div 四年总是要经过那座桥，
         div 凝望着翩驳的江船，
         div 却只是想，在这桥上和你吹吹风。
         br
         div 怀想这座城，倒映的是一场山水相恋的电影。
         div 摇摇远处的灯，难明了的，是那个朦胧的人。
         div 再长的时光，都无法遗忘，那双初次遇见的眼眸，
         div 我明明记得，那不是从前，它就在昨天，
         div 为何却又想起，我们已不能再相见。
         br
         div 很长的路途，只有星星的痕迹，
         div 很久的世界，却寻不得，那怕梦里的影子。
         div 沉甸甸的背包，装着少年的心怀，
         div 不知何时，悄悄塞进，那一份远远的爱。
         br
         div 时常，你如夜晚的萤火，一次次的闪在眼前，
         div 每每的抬手，才发现你已飞远。
         div 偶尔，你路过身边，在，却又怯怯的装着不见。
         div 多想告诉你，我想和你在桥上吹吹风，
         div 但是，明天你已不会再回来，
         div 只是，明天我也会离开。
         br
         div 假如时光真能倒流，
         div 我希望，为你点燃那一船江心的烛火。
         div 桥上的风依旧轻轻拂来，
         div 可惜，没有你陪我静静的吹，
         div 可惜，你不知道，你是那个女孩。
      div.music.pull-right
       script(src="http://www.xiami.com/widget/player-multi?uid=30003914&sid=394695,84136,1773862701,1769718699,1774026318,1773517343,381481,1773554020,1772471309,1769645575,&width=250&height=420&mainColor=808000&backColor=808000&autoplay=0&mode=js")
       div.picture
