<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>潘宏飞的照片墙，去一个春暖花开的地方 | 宏图志远</title>
    <link href="/stylesheets/vender/bootstrap.min.css" rel="stylesheet"/>

    <style>
        html{height:100%;width:100%;}
        body{
          width:100%;
          height:100%;
          margin:0;
          padding:0;
          background:#fff;
          font: 14px/20px "microsoft yahei", "Hiragino Sans GB";
          color:#222;
        }
      .gray{
        -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%); -o-filter: grayscale(100%);
        /*for firefox 4*/
        filter: grayscale(100%);
        filter : url("/images/icon/gray.svg#grayscale");
        /*IE series*/
        filter : progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
        filter : gray;
      }
      h1.logo a{
        color:#92A925;
        font-size:30px;
        text-decoration:none;
        font-family: "Comic Sans MS";
      }
      h3.title {color:#666;font-size:20px;}
      h3.title span{font-size:24px;}

      .photo-wrap{
        height:100%;
        overflow:hidden;
        padding-right: 0px;
        margin-top:15px;
      }
      .photo-wrap img{width:100%;transition:all 0.3s ease-out;}
      .photo-wrap img.v{height:100%;width:auto;}

       footer{
         padding: 80px 0 40px 0;
         text-align: center;
       }
       footer p{font-size:12px;}
    </style>
</head>
<body>
   <article id="page" class="container">
     <header>
        <h1 class="logo">
          <a href="/">
             <img src="/images/icon/logo.png"  width="215" height="30"/>
          </a>
        </h1>
        <h3 class="title">
            <span style="color:#C020E2;">花</span><span style="color:#d05a8a;">若</span><span style="color:#81C323;">年</span><span style="color:#bb8944;">华</span>
            <small>去一个春暖花开的地方</small>
        </h3>
     </header>
     <section id="content" style="min-height:4889px;">
       <div class="row">
          <div class="col-xs-7">
            <div class="row">
             <div class="col-xs-12 photo-wrap">
              <a class="fancybox" href="/images/photos/big/1.jpg">
                <img class="gray" data-original="/images/photos/thumb/1.jpg">
              </a>
             </div>
            </div>
            <div class="row" style="height:275px;">
               <div class="col-xs-6 photo-wrap">
                 <a class="fancybox" href="/images/photos/big/21.jpg">
                   <img class="v gray" data-original="/images/photos/thumb/21.jpg">
                 </a>
               </div>
               <div class="col-xs-6 photo-wrap">
                 <a class="fancybox" href="/images/photos/big/31.jpg">
                   <img class="v gray" data-original="/images/photos/thumb/31.jpg">
                 </a>
               </div>
            </div>
            <div class="row">
                <div class="col-xs-12 photo-wrap">
                    <a class="fancybox" href="/images/photos/big/17.jpg">
                        <img class="gray" data-original="/images/photos/thumb/17.jpg">
                    </a>
                </div>
            </div>
            <div class="row" style="height:250px;">
                <div class="col-xs-7 photo-wrap">
                    <a class="fancybox" href="/images/photos/big/13.jpg">
                        <img class="v gray" data-original="/images/photos/thumb/13.jpg">
                    </a>
                </div>
                <div class="col-xs-5 photo-wrap">
                    <a class="fancybox" href="/images/photos/big/16.jpg">
                        <img class="v gray" data-original="/images/photos/thumb/16.jpg">
                    </a>
                </div>
            </div>
          </div>
          <div class="col-xs-5">
            <div class="row">
              <div class="col-xs-12 photo-wrap">
                <a class="fancybox" href="/images/photos/big/2.jpg">
                  <img data-original="/images/photos/thumb/2.jpg">
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 photo-wrap">
                <a class="fancybox" href="/images/photos/big/22.jpg">
                  <img class="gray" data-original="/images/photos/thumb/22.jpg">
                </a>
              </div>
            </div>
            <div class="row" style="height:269px;">
                <div class="col-xs-7 photo-wrap">
                    <a class="fancybox" href="/images/photos/big/8.jpg">
                        <img class="v gray" data-original="/images/photos/thumb/8.jpg">
                    </a>
                </div>
                <div class="col-xs-5 photo-wrap">
                    <a class="fancybox" href="/images/photos/big/32.jpg">
                        <img class="v gray" data-original="/images/photos/thumb/32.jpg">
                    </a>
                </div>
            </div>
            <div class="row" style="height:250px;">
                <div class="col-xs-12 photo-wrap">
                    <a class="fancybox" href="/images/photos/big/26.jpg">
                        <img class="gray" data-original="/images/photos/thumb/26.jpg">
                    </a>
                </div>
            </div>
          </div>
       </div>
       <div class="row">
           <div class="col-xs-9 photo-wrap">
               <a class="fancybox" href="/images/photos/big/27.jpg">
                   <img data-original="/images/photos/thumb/27.jpg">
               </a>
           </div>
           <div class="col-xs-3 photo-wrap">
               <a class="fancybox" href="/images/photos/big/30.jpg">
                   <img class="v gray" style="height:489px;" data-original="/images/photos/thumb/30.jpg">
               </a>
           </div>
       </div>
       <div class="row" style="height:260px;">
           <div class="col-xs-4 photo-wrap">
               <a class="fancybox" href="/images/photos/big/24.jpg">
                   <img class="v gray" data-original="/images/photos/thumb/24.jpg">
               </a>
           </div>
           <div class="col-xs-4 photo-wrap">
               <a class="fancybox" href="/images/photos/big/25.jpg">
                   <img class="v gray" data-original="/images/photos/thumb/25.jpg">
               </a>
           </div>
           <div class="col-xs-4 photo-wrap">
               <a class="fancybox" href="/images/photos/big/29.jpg">
                   <img class="v gray" data-original="/images/photos/thumb/29.jpg">
               </a>
           </div>
       </div>
       <div class="row">
           <div class="col-xs-7 photo-wrap">
             <div class="row">
               <div class="col-xs-12">
                 <a class="fancybox" href="/images/photos/big/7.jpg">
                     <img class="gray" data-original="/images/photos/thumb/7.jpg">
                 </a>
               </div>
             </div>
             <div class="row">
                 <div class="col-xs-5 photo-wrap">
                     <a class="fancybox" href="/images/photos/big/4.jpg">
                         <img class="gray" data-original="/images/photos/thumb/4.jpg">
                     </a>
                 </div>
                 <div class="col-xs-7 photo-wrap">
                     <a class="fancybox" href="/images/photos/big/12.jpg">
                         <img class="gray" data-original="/images/photos/thumb/12.jpg">
                     </a>
                 </div>
             </div>
           </div>
           <div class="col-xs-5 photo-wrap">
               <a class="fancybox" href="/images/photos/big/5.jpg">
                   <img class="gray" data-original="/images/photos/thumb/5.jpg">
               </a>
           </div>
       </div>
       <div class="row">
           <div class="col-xs-5 photo-wrap">
               <a class="fancybox" href="/images/photos/big/3.jpg">
                   <img class="gray" data-original="/images/photos/thumb/3.jpg">
               </a>
               <a class="fancybox" href="/images/photos/big/10.jpg">
                   <img data-original="/images/photos/thumb/10.jpg">
               </a>
               <a class="fancybox" href="/images/photos/big/20.jpg">
                   <img class="gray" data-original="/images/photos/thumb/20.jpg" style="height:456px;">
               </a>
           </div>
           <div class="col-xs-7">
             <div class="row">
              <div class="col-xs-12 photo-wrap">
                <a class="fancybox" href="/images/photos/big/11.jpg">
                   <img class="gray" data-original="/images/photos/thumb/11.jpg">
                </a>
                <a class="fancybox" href="/images/photos/big/9.jpg">
                    <img class="gray" data-original="/images/photos/thumb/9.jpg">
                </a>
                <a class="fancybox" href="/images/photos/big/33.jpg">
                    <img class="gray" data-original="/images/photos/thumb/33.jpg">
                </a>
              </div>
             </div>
             <div class="row" style="height:265px;">
               <div class="col-xs-6 photo-wrap">
                 <a class="fancybox" href="/images/photos/big/18.jpg">
                     <img class="v gray" style="width:100%" data-original="/images/photos/thumb/18.jpg">
                 </a>
               </div>
               <div class="col-xs-6 photo-wrap">
                 <a class="fancybox" href="/images/photos/big/19.jpg">
                     <img class="v gray" style="width:100%" data-original="/images/photos/thumb/19.jpg">
                 </a>
               </div>
             </div>
           </div>
       </div>

     </section>
     <footer>
       <p>未经作者许可，不得转载本网站内任何图片</p>
       <p>去一个春暖花开的地方，@powered by <a href="work/f2e" style="color:#92A925">宏图志远|潘宏飞</a></p>
     </footer>
   </article>

   <link href="/javascripts/fancybox/jquery.fancybox.css" rel="stylesheet"/>

   <script src="/javascripts/jquery.1.8.3.js"></script>
   <script src="/javascripts/fancybox/jquery.fancybox.js"></script>
   <script src="/javascripts/jquery.lazyload.js"></script>
   <script>
     $(function(){
       $("#content").delegate(".photo-wrap img","mouseover mouseleave",function(){
         $(this).toggleClass("gray");
       });

       $(".photo-wrap img").lazyload({
           attr:"data-original"
       });

       $("#content .fancybox").fancybox({
           padding : 15,
           autoScale : false,
           transitionIn : 'none',
           transitionOut : 'none',
           helpers : {
               media : {},
               buttons : {}
           }
       });
     });
   </script>
</body>
</html>