<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
  <form>
    <select id="select_country" name="country">

    </select>
    <select id="select_state" name="state">

    </select>
    <input type="radio" name="r1" value="0">
    <input type="radio" name="r1" value="4" checked>
    <input type="text" name="box" value="box"/>
  </form>

  <script src="http://localhost:3000/javascripts/jquery.1.8.3.js"></script>
  <script>
      $.fn.formValued=function(options){
        var form=$(this),
            options=options||{};
        return {
          getValue:function(){
            var res={},
                array=form.serializeArray();
            $.each(array,function(index,item){
              var valued=options[item.name];
              if(valued===false)
                return true;
              else{
                if(valued&&valued.get)
                  item.value=valued.get(item.value);
                res[item.name]=item.value;
              }
            });
            return res;
          },
          setValue:function(data){
            var selector="input,textarea,select",
                elems=$(selector);
            elems.each(function(index,item){
              var elem=$(item),
                  value=data[item.name],
                  valued=options[item.name];
              if(valued===false)
                return true;
              else{
                  if(valued&&valued.set){
                    valued.set(value);
                  }else elem.val(value);
              }
            });
          }
        }

      };


    $.fn.queryCity=function(option){
       var defaults={
             _elem:null, //private
             selected:'',
             from:function(handle){
               var res={
                 data:[
                   {id:0,text:'中国'},
                   {id:1,text:'美国'}
                 ]
               };
               handle.call(this,res);
             },
             to:function(data,toSelf){
               if(!this._elem) return this;

               var self=this,
                   ele=self._elem,
                   dataTo=toSelf?ele:ele.data('to'),
                   to=typeof dataTo==="string"?$(dataTo):dataTo,
                   res=[],
                   selIndex= 0,
                   value=to.data('handler').selected;
                 $.each(data,function(index,d){
                 var sel=(value== d.id||value== d.text);
                 res.push("<option value='"+d.id+"'>"+ d.text+"</option>");
                 if(sel) selIndex=index;
               });
               if(to&&to.length>0)
                to.html(res.join(''))
                  .children().get(selIndex).selected=true;
               return self;
             },
             complete:function(res){
               console.log(res);
             },
             query:function(toSelf,handle){
               var self=this;
               self.from(function(res){
                 self.to(res.data||res,toSelf).complete(res);
                 if(res.success&&res.status==200)
                   handle(res);
               });
             }
           },
           opt={},
           keys=[],
           boxs=$(this);
       for(var k in option){
          opt[k]=$.extend({},defaults,option[k]);
          keys.push(k);
       }
       boxs.each(function(index,ele){
          var select=$(ele),
              next=boxs.eq(index+1);
          if(!select.data("to"))
            select.data("to",next);
          (function(i){
            var handler=opt[keys[i]],
                next=opt[keys[i+1]];
            handler._elem=select;
            select.data('handler',handler);
            select.change(function(){
              if(next) next.query(true);
            });
          })(index);
       });
       // auto query first level
       if(opt[keys[0]]) opt[keys[0]].query(true);

       return {
         query:function(name,fn){
           if(opt[name])
            opt[name].query(fn);
           else console.log('there is no handler named '+name);
         }
       };
    };

    var city=$("#select_country,#select_state").queryCity({
        country:{
          selected:'中国'
        },
        state:{
          selected:'香港',
          from:function(fn){
           fn([{
              id:0,
              text:'重庆'
           },
           {
              id:1,
              text:'香港'
           }
           ]);
          }
        },
        city:{},
        district:{},
        street:{}
    });

    var  form=$('form');
         formValued=form.formValued({
          country:{
              set:function(){},
              get:function(value){
                  return form.find("#select_country option:selected").text();
              }
          },
          radio:false  //not require
      });
      //form.setValue({});
      console.log(formValued.getValue());

  </script>
</body>
</html>