<div class="qeditor_preview clearfix qeditor" contenteditable="true" placeholder="">







  <h3>我考虑的几个创业方向：</h3>
  <p><span></span><br></p>
  <p>1，<b> 物联网</b>，硬件方向，这是我一直希望做的东西，但是，目前整个领域的生态并不好。我们，也不具备相关专业知识，而且，硬件产品的研发周期，费用都非常高，基本我们做不了。</p>
  <p>2，对于一些，<b>新兴技术</b>，比特币，区块链，VR，3D 打印，穿戴应用 等，都存在相当的门槛和限制，投入与产出比，比较低。</p>
  <p>3，回归<b>互联网</b>，这是我们真正从事的行业，从这里选择一个方向，比较适合我们。下面是几个我比较关注的公司，以及一些突然产生的想法：</p>
  <p>唯品会，凡客，美丽说，蘑菇街 , 良品铺子，三只松鼠 等电商网站</p>
  <p>礼物挑选（礼物说）</p>
  <p>场景搭建 （用场景来刺激你的购买欲，并导流到淘宝，天猫）</p>
  <p>朋友圈，信任，价值传递</p>
  <p>特产，小饰品</p>
  <p><u>减法, 寻宝</u></p>
  <p>智能植物监测，植物净化器</p>
  <p><span></span><br></p>
  <p>在硬件，社交，电商，传统行业，线上线下的综合考量中，我选择了以下项目：</p>
  <h2><b>夺宝奇兵</b></h2>
  <p><span></span><br></p>
  <p>夺：争夺，挑战，趣味性</p>
  <p>宝贝：商品， 奖金</p>
  <p><span></span><br></p>
  <h4><b>概述</b></h4>
  <p>挑选商品，让用户通过趣味性的方式进行探索或者争夺。通过，免费，1元，5元，10元等不同的入场券金额，参与不同等级宝物的获取过程。<br><span></span></p>
  <p>主要在移动端的微信中进行活动，不考虑 PC 端。</p>
  <p><b><br></b></p><h4><b>产品特点</b></h4>
  <p>在获得实物宝贝的同时，拥有愉悦，新奇的用户体验。宝贝包括，不定额的红包，商品，优惠券，电影票，运动场所，门票，旅游等。</p>
  <p>官方每周推出一款寻宝活动，个人既可以参与寻宝，也可以将自己物品作为宝贝，参与活动，或者独立的发起活动，在朋友之间进行活动等。&nbsp; 利用微信社交，游戏特性来进行快速，广泛的传播。</p>
  <p>微信给了我们很好的传播途径和支付方式。</p>
  <p><br><span></span></p>
  <h4><b>场景与目标用户</b></h4>
  <p>场景：当回到家，坐下来歇会的时候，刷完新闻，朋友圈，开始无聊，你会来宝地里玩一玩，放松自己，朋友们欢喜一下，或者寻找一件未知的宝贝。5-10分钟的旅程，让你愉悦，又不会沉迷</p>
  <p>目标用户：主要是城市白领，和学生群体</p>
  <p><span></span><br></p>
  <h4><b>盈利模式</b></h4>
  <p>1，入场券，不同价格的入场券对应，不同的活动内容，及不同价值的宝贝。</p>
  <p>2，提成，如果你有物品希望发起活动，并且收取费用，我们或拿取一定的提成或者服务费。</p>
  <p>3，流量，可以为商家，其它公众号，导入流量，收取流量费用和广告费用。</p>
  <p><span></span><br></p>
  <h4><b>竞争对手</b></h4>
  <p>目前没有发现，有一个趣兔，他主要面向淘宝商家，是一个工具类的平台。</p>
  <p>由于收入规模的限制，大公司应该不会参与到这个竞争中来。</p>
  <p><span></span><br></p>
  <h4><b>投入与盈利，预期</b></h4>
  <p><b>目标</b>：年营业额能到 百万 级别，日活能够突破 1 w 大关</p>
  <p><span></span><br></p>
  <p><b>投入：</b></p>
  <p>服务器与技术研发，1 w</p>
  <p>推广运营：2w</p>
  <p>宝贝及奖金：按一个月 1 w，计算</p>
  <p>前期资金投入，至少需要 5 - 6万</p>
  <p><span></span><br></p>
  <p><b>盈利预期：</b>（没有实际数据，粗略估算）</p>
  <p>1000（平均日活）* 2（均价）* 0.5 （平均转化率）= 1000 元 / 天 * 30 = 3&nbsp; w / month</p>
  <p>按上面的投入算，在转化率，均价，不变的情况下，我们至少需要 400-500的 日活才能，基本平衡收支。</p>
  <p><span></span><br></p>
  <p>深圳目前约 1千多万 入口，白领，学生占比预估 40%，400 万人 *&nbsp; 1/1000 (转化率)&nbsp; =&nbsp; 4000 *&nbsp; 1/10 （活跃率）= 400 左右的日活</p>
  <p>项目规模和空间，应该在 千万级别，到 亿级别，再大就会比较困难了。</p>
  <p><br><span></span></p>
  <h4><b>团队分工</b></h4>
  <p>按理想状态，初步分工：<br></p>
  <p><b>肖春乐，董齐兴，杜建，潘宏飞</b> 负责产品技术，</p>
  <p><b>文小英，苟英</b> 负责运营推广</p><p><br></p><blockquote>梦想还是要有的，万一实现了呢</blockquote><p><br></p></div>