<!DOCTYPE html>
<html>
  <head>
    <title>潘宏飞的前端主页 - 宏图志远</title>

    <meta name="keywords" content="潘宏飞,宏图志远,前端,智能主页"/>
	<meta name="description" content="这是潘宏飞,宏图志远的前端主页，也是一份个人简历"/>
	<meta name="author" content="潘宏飞"/>
  
  
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.lightbox-0.5.css" media="screen" />
	
	<script type="text/javascript" src="/javascripts/qui/core/jquery.js"></script>
	<script type="text/javascript" src="/javascripts/qui/easing/jquery.easing.js"></script>
	<script type="text/javascript" src="/javascripts/qui/lightbox/jquery.lightbox.js"></script>
 	
	<script type="text/javascript" src="/javascripts/home.js"></script>
    <script> 
	   $(document).ready(function(){  
		 PageManager.work();  
	   }); 
    </script> 
  </head> 
  
  <body>
    <div id="page">
	  <nav>
		<div id="nav"> 
		   <div class="wrap">
			 <ul class="nav-ul">
			   <li><a class="selected" href="#my-info">Introduce</a></li>
			   <li><a href="#meituan">美团Fe库</a></li>
			   <li><a href="#yushou">预售、周期购</a></li>
			   <li><a href="#ywb">易物吧</a></li>
			   <li><a href="#mirror">易物魔镜</a></li> 
			   <li><a href="#blog-section">Resource & Blogs</a></li>
			 </ul>
		   </div>
		</div>
	  </nav>
	  
	  <header>
	     <div id="header"> 
		    <div class="wrap"> 
			   <div id="my-info" class="my-info">
			    <div class="info-wall">  
				     <h2>Info Wall</h2> 
				     <div class="text-info animate" anim-group="fade-move" anim-order="0"> 
					   <a tab-index="0" class="selected" href="#" style="left:40px;top: 86px;-webkit-transform: rotate(15deg);" alt="潘宏飞_宏图志远">
					      <div class="icon"></div>做前端?
					   </a>
					   <a tab-index="1"  href="#" style="left: 157px;top: 24px;-webkit-transform:rotate(18deg);transform:rotate(18deg);" alt="潘宏飞_宏图志远">
					      <div class="icon" width="45px" height="45px"></div>知行合一</a>
					   <a tab-index="2"  href="#" style="left: 92px;top: 186px;-webkit-transform:rotate(-30deg);transform:rotate(-30deg);" alt="潘宏飞_宏图志远">
					      <div class="icon" width="30px" height="30px"></div>平衡生活</a>
					   <a tab-index="3" href="#" style="left: 233px;top: 153px;-webkit-transform: rotate(-10deg);transform:rotate(-10deg);" alt="潘宏飞_宏图志远">
					      <div class="icon" width="48px" height="48px"></div>前端的未来</a>
					   <a tab-index="4" href="#" style="left: 288px;top: 40px;-webkit-transform: rotate(10deg);transform:rotate(10deg);" alt="潘宏飞_宏图志远">
					      <div class="icon" width="40px" height="40px"></div>关于我</a>
				     </div>
					 <div class="picture-info tabs">  
						<div id="J_tab-0" class="first animate" anim="fade-in" anim-order="0">
						   <p><b>为什么要做前端？</b>“未来不需要操作系统，只需要一个浏览器。”很显然浏览器将是主导未来的重要平台，而这个平台上的主角就是JS，前端的看家本领。</p> 
						   <p>我们可以用简洁的代码，写出极具表现力的应用。可以将精雕细琢的作品，展示在成千上万人的面前。
						      我们更加的注重美感与用户体验，我们不仅是程序员，更是用像素和毫秒来雕琢作品的艺术家。</p>
						</div>
						<div id="J_tab-1">
						   <p><b>知行合一，</b>不是我所达到的境界，而是我追求的境界。小偷心里明白偷东西是违背道德和法律的事情，可他仍然去做，这是知行不一。</p>
						   <p>知行合一，推演出来，便是为人处世的哲学，以诚心待人待己。遵从内心的召唤，敢追敢闯，爱恨这人生几十年。</p>
						</div>
						<div id="J_tab-2">
						   <p><b>平衡生活，</b>这是我所遵循的生活理念。生活是多面的，“搞导弹也要弹钢琴，也要研究哲学”。工作、健康、娱乐、劳动都是必不可少的。</p>
						   <p>万物都只有动静两种状态，不论动静，只有处于平衡的情况下，这种状态才是稳定持久的。我们的生活与生命只有在平衡的时候，才能够保持幸福与持久的动力。</p>
						</div>
						<div id="J_tab-3">
						   <p><b>前端的未来，</b>未来的前端，应该叫做全端。由于浏览器已经成为跨设备的平台，PC、Pad、Phone以及未来的终端设备，都将纳入前端的兼容范畴。</p>
						   <p>这是很大的舞台，我们将在这里秀出自己的精彩。</p>
						</div>
						<div id="J_tab-4">
						   <p><b>关于我，</b>我来自重庆，一座拥有3000万人口的山水之城。毕业于坐落南山之畔的重庆工商大学。</p>
						   <p>从事web开发有将近4个年头，前端也搞了两年多了。期间在天猫实习了半年的前端工程师。目前就职于美团。</p>
						   <p>Email：155316729@qq.com</p>
						</div>
					 </div>
					 <div class="opacity-layer">
					    
					 </div>
				 </div> 
			   </div>  
			   <div class="welcome animate" anim-group="fade-move" anim-order="1">
			      <img class="welcome-banner" src="/images/picture/f2e/big/dream.jpg" width="400" height="100" alt="Welcome"/>
				  <a class="welcome-bg" href="../../photos">
                     <img style="opacity:1" src="/images/picture/f2e/big/me.jpg" width="286" height="458">
                  </a>
               </div>
			</div>
	     </div>
	  </header>
	  
      <article>
	   <div id="content" class="project-list">
	     <div class="wrap">
		    <section>
				<div id="meituan" class="project-section project-right-float">
					<div class="project-item project-reduce">
					    <h3>
						  <big class="p-title">美团，Fe组件库</big>
						  <small class="p-desc">   重构/维护/应用      <big class="p-date">2014</big>/3月-至今</small>
						</h3> 
						<p><b>【组件】</b>，创建了两个组件mt-calendar（月历组件）、mt-docviewer(文档组件，集成组件帮助文档)。重构了两个组件，mt-grid(表结构组件)，mt-treegrid（树表结构组件）。
						         其中mt-calendar（设计参考bootstrap3），mt-grid组件应用到了考勤系统中。
                                 这些组件基本在所有库中都存在，但是基于WebComponets的实现是截然不同的，易用性，可维护性、可重用性十分高，但是会存在明显的兼容问题，少数浏览器支持。         
						</p>
						<p><b>【考勤系统】</b>，作为一个内部系统，对兼容性是没有太高要求的，符合fe库的特点。我主要负责的是考勤月历的部分，
                               也即要运用mt-calendar来完成员工、部门管理员查看历史考勤状态、年假、班次的需求。
                               以及查看异常明细、修改异常状态、封/解账、导出汇总表等功能。
                               使用后端代理的方式完成跨域，基于restful原则来设计与后端的数据接口。
						</p> 
						<p>浏览器支持：Chrome、Safari、Firefox、IE10+</p>
					</div> 
					<a href="#" class="project-item project-picture-wrap">
						<img src="/images/picture/f2e/small/meituan.png" width="400" height="400" alt="效果图"/> 
						<div class="zoom-wrap"></div>
						<img class="btn-zoom" src="/images/img/f2e/zoom.png"/>
						<img class="zoom-tip" src="/images/img/f2e/zoom.png" alt="查看图集"/>
					</a> 
					<div class="project-gallery" style="display:none;">
					  <a href="/images/picture/f2e/big/meituan.png" title="meituan.png">
						<img data-lazyload="/images/picture/f2e/big/meituan.png" width="600" height="450" alt="效果图"/> 
					  </a>
					  <a href="/images/picture/f2e/big/mei-01.png" title="meituan.png">
						<img data-lazyload="/images/picture/f2e/big/mei-01.png" width="600" height="450" alt="效果图"/> 
					  </a>
					  <a href="/images/picture/f2e/big/mei-11.png" title="meituan.png">
						<img data-lazyload="/images/picture/f2e/big/mei-11.png" width="600" height="450" alt="效果图"/> 
					  </a>
					  <a href="/images/picture/f2e/big/mei-12.png" title="meituan.png">
						<img data-lazyload="/images/picture/f2e/big/mei-12.png" width="600" height="450" alt="效果图"/> 
					  </a> 
					  <a href="/images/picture/f2e/big/mei-21.png" title="meituan.png">
						<img data-lazyload="/images/picture/f2e/big/mei-21.png" width="600" height="450" alt="效果图"/> 
					  </a> 
					  <a href="/images/picture/f2e/big/mei-22.png" title="meituan.png">
						<img data-lazyload="/images/picture/f2e/big/mei-22.png" width="600" height="450" alt="效果图"/> 
					  </a>  
					  <a href="/images/picture/f2e/big/mei-31.png" title="meituan.png">
						<img data-lazyload="/images/f2e/picture/f2e/big/mei-31.png" width="600" height="450" alt="效果图"/> 
					  </a> 
					</div>
				</div>
		    </section>
		 
		    <section>
				<div id="yushou" class="project-section"> 
					<div class="project-item project-reduce">
						<h3>
						  <big class="p-title">天猫，周期购、预售频道</big>
						  <small class="p-desc">   创建与维护      <big class="p-date">2013</big>/7-12月</small>
						</h3> 
					    <p>
						  周期购是天猫为了提高用户黏度，固化用户推出的产品，而预售是为了提前抢占目标用户，优化供需关系推出的重磅产品。
						</p>
						<p>
						  <b>【可重用性】</b>，组件是可重用性与可维护性的基础保障。总共沉淀了5个业务及功能组件，Status（分阶组件） 、Reminder（开场提醒）、Countdown（倒计时组件）、DataAdapter（逻辑与视图分离）、LazyLoad（数据懒加载 ）。 
						</p>
                        <p><b>【可维护性】</b>，以上每个组件都附有使用文档，相应频道都有详细的帮助文档。同时页面采用了全新的JS代码结构，按数据（加载、解析、表现）、事件（click、hover、slider、resize）、及页面布局（doLayout）。进行组织，减低代码耦合，便于修改，重构。</p>
						<p><b>【性能优化】</b>，LazyLoad，数据懒加载组件，不仅可以提供图片的懒加载，也可对数据进行懒加载，就是将页面对于（如价格、购买人数、商品状态）等数据的请求延迟到必要的时候。另外，由于频繁修改dom节点是很耗性能的，同时，只有当鼠标hover到商品上时才会出现倒计时，所以可以在此时更新view，显示剩余预售时间。</p>
					    <p>浏览器支持：IE6+，Firefox，Chrome，Safari</p>
					</div>
					<a href="#" class="project-item project-picture-wrap"> 
					    <img src="/images/picture/f2e/small/tmall.png" width="400" height="400" alt="效果图"/> 
						<div class="zoom-wrap"></div>
						<img class="btn-zoom" src="/images/img/f2e/zoom.png"/>
						<img class="zoom-tip" src="/images/img/f2e/zoom.png" alt="查看图集"/>
					</a>   
					<div class="project-gallery" style="display:none;">
					  <a href="/images/picture/f2e/small/tmall.png" title="tmall.png">
						<img data-lazyload="/images/picture/f2e/small/tmall.png" width="600" height="450" alt="效果图"/> 
					  </a>
					  <a href="/images/picture/f2e/big/compontes.png" title="tmall.png">
						<img data-lazyload="/images/picture/f2e/big/compontes.png" width="600" height="450" alt="效果图"/> 
					  </a>
					  <a href="/images/picture/f2e/big/data.png" title="tmall.png">
						<img data-lazyload="/images/picture/f2e/big/data.png" width="600" height="450" alt="效果图"/> 
					  </a>
					  <a href="/images/picture/f2e/big/lazy.png" title="tmall.png">
						<img data-lazyload="/images/picture/f2e/big/lazy.png" width="600" height="450" alt="效果图"/> 
					  </a>
					  <a href="/images/picture/f2e/big/act.png" title="tmall.png">
						<img data-lazyload="/images/picture/f2e/big/act.png" width="600" height="450" alt="效果图"/> 
					  </a>
					  <a href="/images/picture/f2e/big/11.png" title="tmall.png">
						<img data-lazyload="/images/picture/f2e/big/11.png" width="600" height="450" alt="效果图"/> 
					  </a>
					</div>
				</div>
		    </section> 
			
			<section>
				<div id="ywb" class="project-section project-right-float">
					<div class="project-item project-reduce">
					    <h3>
						  <big class="p-title">易物吧（校园电子商务网站）</big>
						  <small class="p-desc">   团队主要负责人      <big class="p-date">2013</big>/1-2月</small>
						</h3> 
					    <p>
						  易物吧，主要包含3个部分。[电子商务板块]，主要为校园及周边的商业资源（小卖铺、个体经营户、学生创业者）提供一个网上交易平台。[兼职板块]，可以在这里寻找、发布兼职，也可以求兼职。[易物板块]，把你不需要的物品跟别人进行交换。
						</p>
                        <p><b>【需求膨胀】</b>，开始以为5、6个页面就可以完成，但是随着项目的不断深入，不仅要提供基本的登录注册，商品浏览，订单、收藏，评论，网站后台管理，还要搭建商家的进销存管理系统，用户个人信息管理系统…。不知道熬了多少夜晚仍然Bug不断。对需求的误判和自身能力的过度自信，成了整个项目失败的根源。</p>
					    <p><b>【页面组件】</b>，页面上的基本组件，如搜索、翻页、对话框，图片编辑，大量采用Ajax技术，以提供流畅的用户体验。部分的考虑了降级问题。特别值得一提的是图片编辑，当你进入易物页面，上传物品图片，就会对图片进行处理，使用了Jquery的剪裁及旋转插件来解决问题，但是在IE下旋转是无效的，只好先将图片回发，交由服务器的绘图API来完成，然后重新加载图片。还有剪裁与旋转不能同时进行，只能选择当进行任一个操作时，就隐藏另一个的方法线性操作。</p>
						<p><b>【加载速度】</b>，要提升页面的加载速度，一般方法就是，合并（图标、文件），压缩，优化Html的结构及文件的加载时间与顺序。使用按需加载来提高页面的加载速度，也用了缓存来减小服务器压力，确保大数据只加载一次，以提升用户体验。</p>
					    <p>浏览器支持：IE8+，Firefox，Chrome，Safari</p>
					</div> 
					<a href="http://www.15ba.cn" target="_blank" class="project-item project-picture-wrap">
						<img src="/images/picture/f2e/small/ablum_ywb.png" width="400" height="400" alt="效果图"/> 
						<div class="zoom-wrap"></div> 
						<img class="btn-zoom" src="/images/img/f2e/zoom.png"/> 
						<img class="zoom-tip" src="/images/img/f2e/zoom.png" alt="查看图集"/>
					</a> 
				</div>
		    </section> 
			<section>
				<div id="mirror" class="project-section">
					<div class="project-item project-reduce">
					    <h3>
						  <big class="p-title">易物魔镜</big>
						  <small class="p-desc">   搭建基础框架+功能集成      <big class="p-date">2013</big>/6-7月</small>
						</h3> 
						<p>
						   应用定位“为大学生提供吃喝玩乐一条龙服务”。
						</p>
						<p>
						  <b>【功能构成】</b>，[购物物模块]，以原生应用为基础，使用Jquery Mobile构建移动网页。[易物模块]，提供了定位功能（获取双方位置，在服务器上根据用户位置记录，与请求方的位置进行计算，在返回距离结果），使交易双方可以便捷的找到对方，完成物品交换。[餐点推送]，提供摇一摇功能，帮你随机选择一个推荐。
						</p>
						<p><b>【数据交换】</b>， 数据是应用的血液，要在终端与服务器端实现数据交换，就需要一种数据格式作为传输载体，这里使用JSON。使用第三方库，可以容易的转换，Json与Java对象（本质是反射技术）。访问网络、接收大数据、转换对象，经过封装后，对于调用者是不可见的，大大降低了耦合性。上述过程是很耗时间的操作，故使用线程，以避免ANR。</p>
					    
					    <p><b>【异步回调】</b>，异步（不阻塞后面代码的执行）。它的响应时间是无法确定的，需要使用回调来通知调用者，任务已完成。在JS中函数是一个对象，可以通过它的引用在任意位置调用函数，而Java中要实现同样的效果只能通过反射，很不方便。这里，可以使用接口作为回调，接口的实现是在调用时，而接口方法的调用可以是任意拥有其引用的位置。当然，如果觉得接口太麻烦，可以使用Handler，消息处理机制来代替。</p>
					</div> 
					<a href="#" class="project-item project-picture-wrap">
						<img src="/images/picture/f2e/small/ablum_move.png" width="400" height="400" alt="效果图"/> 
						<div class="zoom-wrap"></div>
						<img class="btn-zoom" src="/images/img/f2e/zoom.png"/>
						<img class="zoom-tip" src="/images/img/f2e/zoom.png" alt="查看图集"/>
					</a> 
					<div class="project-gallery" style="display:none;">
					  <a href="/images/picture/f2e/small/ablum_move.png" title="phone_0.png">
						<img data-lazyload="/images/picture/f2e/small/ablum_move.png" width="400" height="400" alt="效果图"/> 
					  </a>
					  <a href="/images/picture/f2e/big/phone_0.png" title="phone_0.png">
						<img data-lazyload="/images/picture/f2e/big/phone_0.png" width="400" height="400" alt="效果图"/> 
					  </a>
					  <a href="/images/picture/f2e/big/phone_1.png" title="phone_1.png">
						<img data-lazyload="/images/picture/f2e/big/phone_1.png" width="400" height="400" alt="效果图"/> 
					  </a> 
					</div>
				</div>
		    </section> 
		 </div> 
	    </div>
	  </article>
	  
	  <footer> 
	    <div id="footer">
		  <div class="wrap">
		     <div id="blog-section">  
			   <div class="my-tags tags">
			      <div class="blog-tags">
				     <span class="text-bg">博客</span>
				     <a href="http://www.cnblogs.com/ywb15ba/p/idea.html" target="_blank" style="left:30px;top:30px" alt="潘宏飞,宏图志远"><b>【博客】</b>智在感知，大隐于无</a>
				     <a href="http://www.cnblogs.com/ywb15ba/p/polymer.html" target="_blank" style="left:80px;top: 82px;" alt="潘宏飞,宏图志远"><b>【博客】</b>Polymer<br/>——Web Components的未来<br/></a>
				     <a href="http://www.cnblogs.com/ywb15ba/p/act.html" target="_blank" style="right: 50px;top: 273px;" alt="潘宏飞,宏图志远"><b>【博客】</b>记：Tmall活动页面开发</a> 
				     <a href="http://www.cnblogs.com/ywb15ba/p/speed2.html" target="_blank" style="left: 20px;top: 185px;" alt="潘宏飞,宏图志远"><b>【博客】</b>前端不要性无能</a> 
					 <a href="http://www.cnblogs.com/ywb15ba/p/orm.html" target="_blank" style="left: 77px;top: 236px;" alt="潘宏飞,宏图志远"><b>【博客】</b>大话细说ORM</a>
				  </div>
			   </div> 
			   <div class="other-tags tags">
			     <div class="book-tags">
				     <span class="text-bg">书</span>
				     <span style="left: 50px;top:30px" title="既是JS的参考手册，也是深入认识JS的必读数据。" alt="潘宏飞,宏图志远">《javascript高级程序设计》</span>
				     <span style="left:80px;top: 73px;" title="对写出结构优秀的代码，大有裨益。" alt="潘宏飞,宏图志远">《javascript设计模式》</span>
					 <span style="left: 57px;top: 127px;" title="Jquery作者所著，对理解Jquery很有帮助。" alt="潘宏飞,宏图志远">《JS精髓》</span>
					 <span style="left: 43px;top: 103px;" title="全面讲解jQuery Mobile的所有功能、特性、使用方法和开发技巧" alt="潘宏飞,宏图志远">《jQuery Mobile权威指南》</span>
					 <span style="left: 78px;top: 154px;" title="并非这方面最好的书，如果能读懂，这本书还是有价值的。" alt="潘宏飞,宏图志远">《HTML5程序设计》</span>
				     
					 <span style="right: 50px;top: 108px;" title="拨开云雾，认识真正的大数据。" alt="潘宏飞,宏图志远">《大数据》</span>
					 <span style="right: 40px;top: 90px;" title="把握互联网的发展规律 | 认识产品经理极其工作" alt="潘宏飞,宏图志远">《浪潮之巅》、《结网》</span>
					 <span style="right: 50px;top: 60px;" title="作者拥有大量的实践，是学习认识Ext的重要资料。" alt="潘宏飞,宏图志远">《深入浅出Ext.js》</span>
					 <span style="right: 60px;top: 158px;" title="是提高网站性能，页面加载速度的必读书籍。" alt="潘宏飞,宏图志远">《构建高性能Web站点》</span>
				     <span style="right: 50px;top: 128px;" title="能够帮助我们，对物联网的过往将来，关键技术建立初步认识。" alt="潘宏飞,宏图志远">《大话物联网》</span>
				 </div>
				 <div class="source-tags">
				     <span class="text-bg">源</span>
				     <a href="https://github.com/xiaoteng/KOrgChart" target="_blank" style="left: 50px;top: 16px;" alt="潘宏飞,宏图志远"><b>Git·</b>组织型图表组件，KOrgChart</a>
				     <a href="http://download.csdn.net/detail/phongf/4940874" target="_blank" style="left:80px;top: 73px;" alt="潘宏飞,宏图志远"><b>CSDN·</b>Jquery+Html5调色板插件</a>
				     <a href="http://download.csdn.net/detail/phongf/5072780" target="_blank" style="right: 50px;top: 120px;" alt="潘宏飞,宏图志远"><b>CSDN·</b>C++,ORM框架ODB的易用性扩展</a>
				  </div>
			   </div>
			 </div>
		  </div>
		</div> 
	  </footer>
	</div>


    <!--百度统计-->
	<script type="text/javascript">
      var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
      document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F1d2856d63a5b58feec85966a07844866' type='text/javascript'%3E%3C/script%3E"));
    </script>
  </body>
</html>
