extends ../layout

block styles
  <!--build:css  media/images.min.css-->
  link(href=stylesheet_path('media/image.css'), media="all", rel="stylesheet")
  <!--endbuild-->

block content
  .page.upload-image-page
    form#upload-form
      h3.title 上传图片：
      .photo
        img.upload-photo(src="/images/upload/photo-placeholder.jpg")
      p.info
        script#infoTpl(type="text/template")
          .info-wrap
            | 源文件：
            span.text-danger  {{sourceSize}} KB
            br
            | 压缩后传输大小：
            span.text-success  {{resultSize}} KB (省 {{scale}}%)

      .control
        a.btn.btn-success.btn-file-upload
          input.file(id="file", type="file", accept="image/*", dui-change="onUploadFile")
          | 选择图片
        a.btn.btn-default.btn-submit(href="#", dui-click="submit") 确认上传
      p.msg
        | * 每个用户仅允许上传 20 张图片，如果超过限制，可到 "图片空间" 删除未使用的图片

block scripts
  <!--build:js  media/images.min.js-->
  script(src=javascript_path('plugins/localResizeIMG/lrz.all.bundle.js'))
  script(src=javascript_path('bus/media/canvas-image.js'))
  <!--endbuild-->


