@import '../bootstrap/variables'

body
  &.dji-pc
    span.br-display
      display block !important
    .only-pc
      display block !important
    .only-mobile
      display none !important
  &.dji-mobile
    span.br-display
      display inline !important
    .only-pc
      display none !important
    .only-mobile
      display block !important
