@import '../bootstrap/variables'
@import '../share/mixins'

@media (max-width $screen-xs-max)
  .form-group
    label.error
      color: #E08383
      font-size: 12px
      padding: 2px 0px 7px 7px
      margin: 0 0
      position: initial
      right: 0
      top: 4px
