/*!!
 * providing robust cross-browser CSS3 mixins to make your life as a designer easier.
 * 基于nib, Stylus mixins, utilities, components, and gradient image generation
 * 基本重置,head,foot,search等横贯全站的公共样式
 * see https://github.com/tj/nib
 */
@import 'reset'
@import 'border'
@import 'border-radius'
@import 'clearfix'
@import 'color-image'
@import 'flex'
@import 'gradients'
//@import 'iconic'
@import 'image'
// @import 'normalize'
@import 'overflow'
@import 'positions'
@import 'text'
@import 'vendor'
@import 'size'
@import 'sprites'
@import 'fonts'
@import 'form'
@import 'spinner-loading'
@import 'common'
@import 'button'
@import 'sidebar'
@import 'pagination'
@import 'modal'

// dji 样式模块
@import 'dji/button'
@import 'dji/pagination'
@import 'dji/sidebar'
