.page.home-page
  .bg-cover
  .row(style="height: 50%;")
    .col-xs-12.cell(style="height: 100%;")
      .picture.ani(data-layzr=image_path("bestme/index/bg-time-2016.jpg","6a7261a9f6fc0be57a9cd9f416941846-"), data-layzr-bg, swiper-animate-effect="fadeIn", swiper-animate-duration="3s", swiper-animate-delay="0.3s")
  .row(style="height: 50%;")
    .col-xs-4.cell(style="height: 100%;")
      .bestme-title.center
        .vr-text.ani(swiper-animate-effect="fadeIn", swiper-animate-duration="3s", swiper-animate-delay="0.8s") 谁是你的年度最佳
        .vr-line.ani(style="height: 230px;", swiper-animate-effect="fadeInUp", swiper-animate-duration="3s", swiper-animate-delay="0.3s")
    .col-xs-8.cell(style="height: 100%;")
      .bestme-year
        h1.year-title.ani(swiper-animate-effect="fadeIn", swiper-animate-duration="3s", swiper-animate-delay="1s") 从前慢
        p.year-desc.ani(swiper-animate-effect="fadeIn", swiper-animate-duration="3s", swiper-animate-delay="1.5s")
         | 从前的日色变得慢
         br
         | 车，马，邮件都慢
         br
         | 一生只够爱一个人
         br
         | ......
