style.
 .fancybox-skin{
   background: rgba(255, 255, 255, 0.7);
 }

.page.bestme-page.music-page
  section.content.info
    h1.top-title.title.ani(swiper-animate-effect="fadeInRight", swiper-animate-duration="1s", swiper-animate-delay="0.3s")
      | 年度最佳音乐

    h2.title.ani(swiper-animate-effect="fadeIn", swiper-animate-duration="0.8s", swiper-animate-delay="1.5s")= music_title
    .pictrue.ani(style="background-image: url(#{music_cover})", swiper-animate-effect="rotateIn", swiper-animate-duration="2s", swiper-animate-delay="2.3s")
      .top-shadow
        a.fancybox(style="display: block;", href=music_link, data-padding="0")
          i.fa.fa-play
    .desc.ani(swiper-animate-effect="fadeInUp", swiper-animate-duration="0.6s", swiper-animate-delay="3s")
      p!= (music_desc||'').replace(/\n/g, '<br/>')
