.page.spring-page
  //.ani.ani-ele.ani-top(swiper-animate-effect="fadeInRight", swiper-animate-duration="0.8s", swiper-animate-delay="0.3s")
    img(data-layzr=image_path("bestme/spring/ani-ele-top.png","d232e7bf5fd345efed8c64368ae8d1fd-"), width="200px")
  //.ani.ani-ele.ani-bottom(swiper-animate-effect="fadeInUp", swiper-animate-duration="1s", swiper-animate-delay="0.6s")
    img(data-layzr=image_path("bestme/spring/ani-ele-bottom.png","ed1e050d3ca30aeb8801d29929f085f6-"), width="150px", style="opacity: 0.8")

  .bg-cover
  .spring-wrap.ani
    h2.year-title.center
      .vr-line.ani(swiper-animate-effect="slideInUp", swiper-animate-duration="2s", swiper-animate-delay="0.3s")
      .vr-line.vr-line-rignt.ani(swiper-animate-effect="slideInDown", swiper-animate-duration="2s", swiper-animate-delay="0.3s")
      .ani(swiper-animate-effect="fadeIn", swiper-animate-duration="2s", swiper-animate-delay="1s")
        | 遇见未来的自己 - 未来已来
    .year-desc.ani(swiper-animate-effect="fadeIn", swiper-animate-duration="2s", swiper-animate-delay="2s")
      | 公元 2017年 | 农历丁酉年 | 酉鸡

