.join-page {
   position: relative;
   width: 100%;
   height: 100%;
   overflow: hidden;
   background-color: #333;
   padding: 15px;
   color: rgba(242, 242, 242, 0.5);
   background-image: url(http://img1.61xiangce.com/759857/1299183319568f83a64bd8b3.32242545.jpg)
   background-size: cover;
   background-position: center;

   .content{
     background: rgba(20, 20, 20, 0.8);
     color: rgb(138, 138 ,138);
   }
   .join-title{
     font-size: 24px;
     text-align: center;
     margin: 15px 0 24px 0;
   }
   .desc{
     line-height: 24px;
     width: 280px;
     .desc-text{
       margin-bottom: 10px;
     }
   }

  .action{
    text-align: center;
    margin-top: 40px;
  }
  .btn-join {
    color: rgb(138, 138 ,138);
    border:1px rgba(166, 213, 24, 0.5) solid;
    padding: 12px 35px;
    border-radius: 2px;
  }
  .power-by{
    color: rgba(242, 242, 242, 0.5);
    position: absolute;
    bottom: 12px;
    text-align: center;
    width: 100%;
    left: 0;
  }
}