.login-page{
  background: #eee;
  padding: 15px 15px 45px 15px;
  position: relative;
  height: 100%;

  .login-form{
    //border: 1px solid #eee;
    padding: 20px;
    position: absolute;
    left: 15px;
    right: 15px;
    top: 0;
    bottom: 0;
    height: 320px;
    margin: auto;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 1px 20px #cecece;
  }
  input.code-text{
    text-transform: uppercase;
  }
  .title{
    text-align: center;
    margin: 20px 0 30px 0;
  }
  .controls{
    margin-top: 20px;
    overflow: hidden;
  }
  .msg{
    margin-top:10px;
    font-size: 12px;
  }
}