.music-page{
  background-color: #333;
  min-height: 100%;
  width: 100%;

  h1{
    font-size: 35px;
  }
  .content{
    padding: 25px 20px 80px 20px;
  }
  .info .title{
    text-align: center;
    margin: 15px 0px;
    color: #d33a31;
  }
  .info .top-title{ margin-top:0; }

  .music{
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .pictrue{
    position: relative;
    width: 260px;
    height: 260px;
    background-color: #666;
    overflow: hidden;
    background-size: cover;
    border-radius: 50%;
    border: 45px #000 solid;
    margin: 40px auto 30px;
    border-color: radial-gradient(rgba(51, 51, 51, 0.6), #000);
    opacity: 0.95;
  }
  .pictrue .top-shadow{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    width: 50px;
    background: radial-gradient(rgba(51, 51, 51, 0.9), #000);
    margin: auto;
    border-radius: 50%;
    text-align: center;
    .fa-play{
      color: rgba(242, 242, 242, 0.9);
      font-size: 24px;
      margin: 12px 0 0 6px;
    }
  }
  .desc{
    margin: auto;
    line-height: 23px;
    color: rgba(242, 242, 242, 0.5);
  }
  .desc p{
    margin-bottom: 10px;
  }
  .desc p:last-child{
    margin-bottom: 0px;
  }

  .action {
    text-align: center;
    margin-top: 40px;
  }
  .action a:visited{
    color: rgba(242, 242, 242, 0.5);
  }
  .btn-listen {
    color: rgba(242, 242, 242, 0.5);
    border:1px rgb(166, 213, 24) solid;
    padding: 12px 35px;
    border-radius: 2px;
  }
}