.users-page{
  padding: 15px 15px 45px 15px;

  .textarea{
    background: #eee;
    border: none;
    width: 100%;
    padding: 8px;
    height: 500px;
    border-radius: 2px;
  }
  .control{
    margin-top: 20px;
  }
}