.page.join-page
  .content
    .ani(swiper-animate-effect="fadeIn", swiper-animate-duration="2s", swiper-animate-delay="0.3s")
      .desc.center
        h3.join-title 关于作品
        p.desc-text
          | 这个小作品花了我将近一个月的业余时间才勉强得以完成。
          | 感谢所有给予我支持的人❤️
        p.desc-text
          | 由于，视觉、交互、性能，都要兼顾, 难以全面，
          | 所以，用得不爽的地方还请大家包涵

        p.desc-text
          | 最后，㊗️ 祝大家：
          br
          | 鸡年，不鸣则已，一鸣惊人！

        .action
          a.btn-join(href='/bestme/login') 谁是我的年度最佳？
    .power-by.ani(swiper-animate-effect="fadeIn", swiper-animate-duration="3s", swiper-animate-delay="1s")
      | Powered by 宏图志远 | 2017